<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}<title>Team A.I Gang</title>{% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.css" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/custom.min.css')}}">
    <style>
        body {height:830px;}
        .container { height:100%;}

    </style>
    {% block head %}
    {% endblock %}

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Team A.I Gang</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

<nav>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/image">Image</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/text">Text</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>
</nav>
{%block content%}
{% endblock %}

<!-- footer -->
<footer class=" bg-dark bg-dark text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white">Team A.I Gang</h1></br>
        <p class="font-weight-light text-white" style="font-size:25px;">당신의 기분을 표현할 수 있는 텍스트나 이미지를 넣어 주세요. 노래를 추천해 드립니다!!</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript -->
<script src="{{url_for('static', filename='vendor/jquery/jquery.slim.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
<script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://bootswatch.com/_assets/js/custom.js"></script>

</body>

</html>
