{% extends 'base.html' %}

{% block head %}
<style>
    .card-title {
        font-size:25px;
        margin-bottom:5px;
    }
</style>
{% endblock %}

{% block content %}
<!-- Slider -->
<div class="row" style="margin-top:25px; margin-bottom:10px;">
    <div class="col"></div>
    <div class="col-6 mx-auto">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="5000">
                    <img src="{{ url_for('static', filename='image/team/001.jpg') }}" class="mx-auto d-block w-100"
                         alt="..." style="height:400px;text-align: center;">
                </div>
                <div class="carousel-item" data-interval="5000">
                    <img src="{{ url_for('static', filename='image/team/002.jpg') }}" class="mx-auto d-block w-100"
                         alt="..." style="height:400px;text-align: center;">
                </div>
                <div class="carousel-item" data-interval="5000">
                    <img src="{{ url_for('static', filename='image/team/003.jpg') }}" class="mx-auto d-block w-100"
                         alt="..." style="height:400px;text-align: center;">
                </div>
                <div class="carousel-item" data-interval="5000">
                    <img src="{{ url_for('static', filename='image/team/004.jpg') }}" class="mx-auto d-block w-100"
                         alt="..." style="height:400px;text-align: center;">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col"></div>
</div>
</div>

<!-- Slider -->
<hr>
<!-- Page Content -->
<div class="container" style="margin-top:25px;">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{{ url_for('static', filename='image/member/e.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-title mb-0">Leader 김은민</p>

                    <div class="card-text text-black-50"><p>리더, 언어 감정 분류(LSTM 모델링), 팀의 전반적 조율</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{{ url_for('static', filename='image/member/g.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-title mb-0">Member 강승웅</p>
                    <div class="card-text text-black-50"><p>PPT 제작, 자료수집, 이미지 감정 분류(CNN모델링)</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{{url_for('static', filename='image/member/s.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-title mb-0">Member 최서윤</p>
                    <div class="card-text text-black-50"><p>발표자, 자료수집, 이미지 감정 분류(CNN모델링)</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{{url_for('static', filename='image/member/d.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-title mb-0">Member 김동현</p>
                    <div class="card-text text-black-50"><p>언어 감정 분류(LSTM모델링), 웹구축, 기술지원
                    </p></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>


{% endblock %}