{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block content %}
<!-- Slider -->
<div class="row">
    <div class="col"></div>
    <div class="col-6 mx-auto">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" >
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="5000">
                    <img src="{{ url_for('static', filename='image/team/001.jpg') }}" class="mx-auto d-block w-100"
                         alt="..." style="height:400px;text-align: center;">
                </div>
                <div class="carousel-item" data-interval="5000">
                    <img src="{{ url_for('static', filename='image/team/002.jpg') }}" class="mx-auto d-block w-100"
                         alt="..." style="height:400px;text-align: center;">
                </div>
                <div class="carousel-item" data-interval="5000">
                    <img src="{{ url_for('static', filename='image/team/003.jpg') }}" class="mx-auto d-block w-100"
                         alt="..." style="height:400px;text-align: center;">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col"></div>
    </div>
</div>

<!-- Slider -->
<hr>
<!-- Page Content -->
<div class="container" style="margin-top:50px;">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{{ url_for('static', filename='image/member/e.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Leader 김은민</h5>

                    <div class="card-text text-black-50"><p>모델링 분석과 최적화, 팀의 전반적 조율</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{{ url_for('static', filename='image/member/g.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Member 강승웅</h5>
                    <div class="card-text text-black-50"><p>PPT 제작과 요인 변수의 자료 검토, 모델 속의 적합성 검토</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{{url_for('static', filename='image/member/s.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Member 최서윤</h5>
                    <div class="card-text text-black-50"><p>자료 수집과 전 처리,시각화를 통한 모델의 구체화</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Member 김동현</h5>
                    <div class="card-text text-black-50"><p>Web 크롤링과 연관분석 담당, 모델 최적화
                    </p></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>

<!-- footer -->
<footer class=" bg-dark bg-dark text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white">Team A.I Gang</h1></br>
        <p class="font-weight-light text-white" style="font-size:25px;">저희는 얼굴을 인식하여 감정을 분석하고, 그 감정에 맞는 노래를 추천해주는
            웹입니다?</p>
    </div>
</footer>

{% endblock %}