{% extends 'base.html' %}

{% block title %}<title>Image emotion</title>{% endblock %}

{% block head %}
<style>
    table {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
    }
    tr, td {
        border: 1px solid black;
    }
    .form-group {
        padding: 60px 0px 20px 0px;
    }



</style>
{% endblock %}

{% block content %}


<!-- /.container -->
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <form action="/image" method="POST" enctype="multipart/form-data">
                <div class="form-group" style="display: flex;">
                    <input type="file" class="form-control-file" id="exampleInputFile" name="file">
                    <button type="submit" class="btn btn-outline-primary">Upload</button>
                </div>
                {% if lists %}
                <table class="table table-hover" style="text-align:center; border: 1px solid;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img src="{{url_for('static', filename='image/face/{}'.format(name))}}"
                                 style="height:400px; width:400px;"></td>
                    </tr>
                    <tr>
                        <td><p>{{ lists[0]}}</p></td>
                    </tr>
                    </tbody>

                </table>
                <h3 style="text-align:center;font-size:30px; font-family:sans-serif;">{{emotion[1]}}_{{emotion[2]}}<br>

                <a href="{{emotion[3]}}"><img src="{{url_for('static', filename='image/member/button.jpg')}}" style="width:50px;">  {{emotion[3]}}</a></h3>
                {% endif %}
            </form>
        </div>
        <div class="col"></div>
    </div>
    <!-- /.row -->
</div>

{% endblock %}