{% extends 'base.html' %}

{% block title %} <title>Text emotion</title> {% endblock %}

{% block content %}
<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
        <form method="post" action="/text">
            <div class="form-group">
                <label for="exampleTextarea">Text area</label>
                {% if texts %}
                    <textarea class="form-control"  rows="3" name="text_data">{{feel}}</textarea>
                {% else %}
                    <textarea class="form-control" id="exampleTextarea" rows="3" name="text_data"></textarea>
                {% endif %}
            </div>
                <button type="submit" class="btn btn-outline-primary" style="float:right;">submit</button>
        </form>
            <br><br>
            {% if texts %}
                <p style="font-size:30px;font-family:sans-serif;text-align:center;">{{texts[0]}}</p><br>
                <p style="font-size:30px;font-family:sans-serif;text-align:center;">{{emotion[1]}}_{{emotion[2]}}<br><br>

                    <a href="{{emotion[3]}}"><img src="{{url_for('static', filename='image/member/button.jpg')}}" style="width:50px;">  {{emotion[3]}}</a></p>
            {% endif %}
        </div>

        <div class="col"></div>
    </div>
</div>
{% endblock %}