{% extends 'base.html' %}
{% block content %}


<!--{% if lists %}-->
<!--<ul>-->
<!--    {% for list in range(lists.tr|length) %}-->
<!--    <img src="{{ url_for('static', filename='image/00{}.jpg'.format(list+1)) }}"-->
<!--         style="height:150px; width:150px;">-->
<!--    <li> {{ lists.tr[list] }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--{% endif %}-->
<!--</div>-->
<!--&lt;!&ndash; /.row &ndash;&gt;-->


<!-- /.container -->
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form action="http://localhost:5000/fileUpload" method="POST" enctype="multipart/form-data">
                <table class="table" style="width:500px;height:900px; text-align:center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Before</th>
                        <th scope="col">After</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="file" name="file"/></td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>

                    </tbody>
                </table>
                <input type="submit"/>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <!-- /.row -->
</div>

{% endblock %}